body {
	margin: 0 auto;
	line-height: 0;
	color: #333;
	background: white;
	font-family: Nunito;

	width: 1152px;
	height: 4725px;

border: 5px solid #333333
}

*,
*:before,
*:after {
	box-sizing: border-box;
}


}
h1, h2, h3, h4, h5, h6{
	margin: 0 ;
}

/*  Header  */
.header{
	position: absolute;
	width: 1152px;
	height: 80px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	margin: 0 auto;
	padding-top: 20px;

}

.conteiner{
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.headernav{
	font-family: Nunito;
	font-size: 16px;
	margin-right: 80px;
}

.Header_nav1{
	display: inline-block;
	vertical-align: top;
	margin: 0 24px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;

	color: rgba(34, 34, 34, 0.75);
}

.Header_nav1:hover{
	color: #DAA520;
	font-weight: 800;
	transition: color 0.3s linear;
}


.SingUP{

	background: #F9BDBD;
	border: 1px solid #3E3F43;
	box-sizing: border-box;
	border-radius: 8px;

	font-weight: bold;
	text-decoration: none;
	color: #3E3F43;
}

.SingUP:hover{
	background: #333;
	color:#BD2;
	transition: color 0.3s linear;
}


.Header_Logo{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.25em;
	margin-left: 118px;
	color: #3E3F43;
}

/* SECTION*/
#firstsection{
	width: 1152px;
	height: 800px;
	margin: 0 auto;
	margin-bottom: 120px;
	font-family: Nunito;
}


#section2{
	width: 1152px;
	height: 950px;
	margin: 0 auto;
	margin-bottom: 120px;
	font-family: Nunito;

	border: 5px solid #7A6BC6;
	box-sizing: border-box;
}


#section3{

	width: 952px;
	height: 453px;
	margin: 0 auto;
	margin-bottom: 120px;
	font-family: Nunito;

	border: 5px solid #555AFF;
	box-sizing: border-box;

}



#section4{
	width: 952px;
	height: 978px;
	margin: 0 auto;
	margin-bottom: 120px;
	font-family: Nunito;


	border: 5px solid #153;
	box-sizing: border-box;
}

#section5{
	width: 952px;
	height: 489px;
	margin: 0 auto;
	margin-bottom: 120px;
		font-family: Nunito;

	border: 5px solid #922;
	box-sizing: border-box;
}

#footer{
	width: 1152px;
	height: 455px;
	margin: 0 auto;
	font-family: Nunito;

	border: 5px solid #633;
	box-sizing: border-box;

}



/*--------------f-logo---------------------*/

.f1{
left: 80px;
top: 25.79px;

	position: absolute;
	width: 14.29px;
	height: 12.5px;

	border: 1px solid #DAA520;
	box-sizing: border-box;
	border-radius: 0 60%;
}

.f2{
left: 95.71px;
top: 24px;

	position: absolute;
	width: 12.5px;
	height: 14.29px;

	border: 1px solid #DAA520;
	box-sizing: border-box;
	border-radius: 60% 0;
}

.f3{
	left: 95.71px;
	top: 39.71px;

	position: absolute;
	width: 14.29px;
	height: 12.5px;

	border: 1px solid #DAA520;
	box-sizing: border-box;
	border-radius: 0 60%;
}

.f4{
left: 81.79px;
top: 39.71px;

	position: absolute;
	width: 12.5px;
	height: 14.29px;

	border: 1px solid #DAA520;
	box-sizing: border-box;
	border-radius: 60% 0;
}

/*---------------------------------------*/



/*   section1   */


/*Sect1_text*/
.sect1_text{
	width: 504px;
	height: 376px;
	margin-top: 217px;
	margin-left: 102px;
	font-family: Nunito;

}


.sect1_toptext{
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 49px;
	margin: 0;
	color: #3E3F43;
	margin-bottom: 16px;
}

.sect1_bottontext{
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 98px;
	margin: 0;
	color: #313235;
	margin-bottom: 16px;
}

.Explore_F{
	width: 175px;
	height: 50px;
	background: #DAA520;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.Exp_F{
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	margin-left: 24px;

	color: #FFFFFF;
}

/*-----------------------------------*/

/*Background-right*/

.right_ground{
	width: 370px;
	height: 800px;
	margin-left: 167;
	background: #F9BDBD;
	border-radius: 0 0 0 130px;
}


.Sec1{
	display: flex;
	justify-content: space-between;

}

/*///////////////////Logo-background///////////////////////*/
.logotip2{
	position: absolute;
	width: 382px;
	height: 382px;
	left: 422;
	top: 0;

}


.fl1{
	position: absolute;
	width: 181.9px;
	height: 159.17px;
	left: 522px;
	top: 422.74px;

	border: 1px solid rgba(137, 66, 66, 0.2);
	box-sizing: border-box;
	border-radius: 0 80px;
}

.fl2{
	position: absolute;
	width: 159.17px;
	height: 181.9px;
	left: 722.1px;
	top: 400px;

	border: 1px solid rgba(137, 66, 66, 0.2);
	box-sizing: border-box;
	border-radius: 80px 0;
}

.fl3{
	position: absolute;
	width: 181.9px;
	height: 159.17px;
	left: 722.1px;
	top: 600.1px;

	border: 1px solid rgba(137, 66, 66, 0.2);
	box-sizing: border-box;
	border-radius: 0 80px;
}

.fl4{
	position: absolute;
	width: 159.17px;
	height: 181.9px;
	left: 544.74px;
	top: 600.1px;

	border: 1px solid rgba(137, 66, 66, 0.2);
	box-sizing: border-box;
	border-radius: 80px 0;
}

/*//////////////////end//////////////////////////*/

.simple_table{
	position: absolute;
	width: 568px;
	height: 577px;
	left: 584px;
	top: 165px;
	z-index: 1000;


	background: url("../img/Simple-modern-balcony-small-coffee-table-living-room-small-apartment-sofa-side-table-simple-home-bedroom 1.png")
}

/*-------------END SECTION 1--------------------------*/

/*------------------SECTION2-------------------------*/
.container2{

}


.sec2_colontitul{
	width: 952px;
	height: 98px;
	margin:0 100px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sec2_topinfo{
	width: 1152px;
	height: 388px;
	display: flex;
	margin-top: 40px;

}


.sec2_img{
	position:relative;
	width: 426px;
	height: 388px;
	margin-left: 100px;
}


.sec2_info{
	width: 448px;
	height: 180px;
	margin-top: 104px;
	margin-left: 100px;
}



.sec2_customized{
	width: 1152px;
	height: 384px;
	padding-left: 100px;
	display: flex;
	margin-top: 40px;
}
/*///////////////////////////logo///////////*/
.logotip_sec2{
	position: relative;
	width: 30px;
	height: 30px;
	left: 20px;
}


.fs21{
	position: absolute;
	width: 14.29px;
	height: 12.5px;
	top: 2.15px;
	z-index: 1;

	border: 1px solid rgba(137, 121, 66, 0.5);
	box-sizing: border-box;
	border-radius: 0 60%;
}

.fs22{
	position: absolute;
	width: 12.5px;
	height: 14.29px;
	left: 1.27px;
	top: 15.65px;
	z-index: 1;

	border: 1px solid rgba(137, 121, 66, 0.5);
	box-sizing: border-box;
	border-radius: 60% 0;
}

.fs23{
	position: absolute;
	width: 14.29px;
	height: 12.5px;
	top:  15.65px ;
	left: 16px;
	z-index: 1;

	border: 1px solid rgba(137, 121, 66, 0.5);
	box-sizing: border-box;
	border-radius: 0 60%;
}

.fs24{
	position: absolute;
	width: 12.5px;
	height: 14.29px;
	top: 0;
	left: 16px;
	z-index: 1;

	border: 1px solid rgba(137, 121, 66, 0.5);
	box-sizing: border-box;
	border-radius: 60% 0;
}
/*/////////////head_text/////////////////*/
.top_text{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sec2_toptext{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;

	color: #3E3F43;
}

.ligne{
	width: 316px;
	height: 0px;

	border: 1px solid #000000;
}

.sec2_Righttext{
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 98px;
text-align: right;

color: rgba(34, 34, 34, 0.1);
}


/*////////////////end head text///////////*/


/*     Top info........*/


.sec2_img_background{

	width: 278px;
	height: 388px;

border-radius: 0 100px 0 100px;

	background: #F7DEA6;
}

.sec2_img_img{
	position: absolute;
	width: 388px;
	height: 306px;
	top: 82px;
	left: 38px;

background: url("../img/Kalmar-Home-7-pc-Acacia-Wood-Salad-Bowl-Set 1 (1).png");
}

.sec2_toptext_top{
	text-align: left;
	margin: 0 auto;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 49px;
	padding-bottom: 16px;

	color: #3E3F43;
}

.sec2_toptext_bot{
	text-align: left;
	margin: 0 auto;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;

	color: #000000;
}


/*.....end top indo     */


/*    Bot info        */



.sec2_bottext{
	width: 648px;
	height: 131px;;
	text-align: left;
	margin-top: 108px;

}

.sec2_bottext_top{
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	margin: 0;

	color: #000000;
}

.sec2_bottest_bot{
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	margin-top: 16px;

	color: #333;
}

.sec2_bottest_img{
	width: 287px;
	height: 384px;
margin-left: 115px;
	background: url("../img/Script-Online-Ado-Beech-Steel-Spoon-Set-Of-3-52151704SD00001-PDP-Gallery-D-01 1.png");
}


/*______============SECTION2 END =============_____________*/


/*---------------------SECTION 3---------------------------*/



.sec3_colontitul{
	width: 952px;
	height: 98px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*////////Head LOGO //////////*/

.logotip_sec3{
	position: relative;
	width: 30px;
	height: 30px;
	left: 20px;
}



/*===========Head Text ==================*/

.sec3_toptext{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;

	color: #3E3F43;
}



.sec3_Righttext{
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 98px;
	text-align: right;

	color: rgba(34, 34, 34, 0.1);
}

.ligne3{
width: 65px;
height: 0px;
background: #000000;
border: 1px solid #000000;
}

/*   end head text    */



/*---------===========section 3 navigation=========--------*/

.sec3_navigation{

	position: relative;
	width: 952px;
	height: 177px;
}

.sec3_nav{
	display: flex;
	flex-direction: row;
	padding: 0px;

}

/*GRUP 1*/

.sec3_grup1{
	position: static;
	width: 238px;
	height: 177px;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
}


.sec3_number1{
	position: absolute;
	width: 58px;
	height: 131px;
	left: 17px;
	top: 18.5px;

	font-style: normal;
	font-weight: 600;
	font-size: 96px;
	line-height: 131px;

	text-align: center;

	color: rgba(249, 189, 189, 0.25);
}

.sec3_Grup1_text{
	position: absolute;
	width: 238px;
	height: 33px;
	left: 0px;
	top: 100px;

	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;

	text-align: center;

	color: #000000;
}

.sec3_nav_grup1{
	position: absolute;
	width:120px;
	height: 96.77px;
	left: 59px;
	top: 11.61px;

	background: url("../img/group/Group.png");
}

/*   grup1 end   */


/*     grup 2      */

.sec3_grup2{
	position: static;
	width: 238px;
	height: 177px;


	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 0px;

}

.sec3_number2{
	position: absolute;
	width: 58px;
	height: 131px;
	left: 267px;
	top: 23px;

	font-style: normal;
	font-weight: 600;
	font-size: 96px;
	line-height: 131px;

	text-align: center;
	color: rgba(249, 189, 189, 0.25);
}

.sec3_Grup2_text{
	position: absolute;
	width: 238px;
	height: 33px;
	left: 238px;
	top: 100px;

	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;

	text-align: center;

	color: #000000;
}

.sec3_nav_grup2{
	position: absolute;
	width: 69.68px;
	height: 120px;
	left: 322.16px;
	top: 0px;

	background:  url("../img/group/Group (1).png");
}

/*   Grup 2 end    */

/*      grup 3     */

.sec3_grup3{
	position: static;
	width: 238px;
	height: 177px;


	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 0px 0px;

}

.sec3_number3{
	position: absolute;
	width: 58px;
	height: 131px;
	left: 496px;
	top: 23.5px;

	font-style: normal;
	font-weight: 600;
	font-size: 96px;
	line-height: 131px;

	text-align: center;
	color: rgba(249, 189, 189, 0.25);
}

.sec3_Grup3_text{
	position: absolute;
	width: 238px;
	height: 33px;
	left: 476px;
	top: 100px;

	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;

	text-align: center;

	color: #000000;
}

.sec3_nav_grup3{
	position: absolute;
	width: 120px;
	height: 120px;
	left: 535px;
	top: 0px;

	background: url("../img/group/cost 1.png");
}

/*   end grup 3    */


/*   grup 4   */

.sec3_grup4{
	position: static;
	width: 238px;
	height: 177px;


	flex: none;
	order: 3;
	flex-grow: 0;
	margin: 0px 0px;


}

.sec3_number4{
	position: absolute;
	width: 58px;
	height: 131px;
	left: 734px;
	top: 23.5px;

	font-style: normal;
	font-weight: 600;
	font-size: 96px;
	line-height: 131px;

	text-align: center;
	color: rgba(249, 189, 189, 0.25);
}

.sec3_Grup4_text{
	position: absolute;
	width: 238px;
	height: 33px;
	left: 714px;
	top: 100px;

	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;

	text-align: center;

	color: #000000;
}

.sec3_nav_grup4{
	position: absolute;
	width: 100.65px;
	height: 120px;
	left: 782.68px;
	top: 0px;

	background: url("../img/group/Group (2).png");
}

/*     end grup4      */




/*      nav click section 3     */

.sec3_navigation2{
	width: 212px;
	height: 50px;
	margin-top: 64px;
	margin-left: 370px;


	background: #DAA520;
	border-radius: 4px;

	display: flex;
	justify-content: space-between;
	align-items: center;

}

.sec3_navigation2:hover{
	background: #DAA948Ad;
	transition: color 0.2s linear;
}


.sec2_navclick{
	width: 164px;
	height: 22px;

	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-decoration: none;
margin: 24px 14px;


	color: #FFFFFF;
}

.sec2_navclick:hover{
	color: black;
	transition: color 0.2s linear;
}